.rpv-search__highlights {
  background: transparent !important;
}

/* override active (green) highlight for compliance */
.pdf-highlight-compliance [class="rpv-search__highlight"],
.pdf-highlight-compliance .rpv-search__highlight--current {
  background-color: #15ff002d !important;
  color: black !important;
}

/* override active (green) highlight for non compliance */
.pdf-highlight-non-compliance [class="rpv-search__highlight"],
.pdf-highlight-non-compliance .rpv-search__highlight--current,
[class="rpv-search__highlight"] {
  background-color: #f13d3d5b !important;
  color: black !important;
}

/* override active (green) highlight for non compliance */
/* .pdf-highlight-non-compliance [class="rpv-search__highlight"],
.pdf-highlight-non-compliance .rpv-search__highlight--current,
[class="rpv-search__highlight"] {
  background-color: #ffff0066 !important;
  color: black !important;
} */

.rpv-core__viewer {
  scroll-padding-top: 100px; /* leaves space above highlighted text */
}
